* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  font-family: 'StratosSkyeng', sans-serif;
  cursor: pointer;
}

button,
._btn {
  cursor: pointer;
}

ul li {
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

div,
button,
a {
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.mainContainer {
    max-width: 1178px;
    margin: 0 auto;
    padding: 0px 5px;
  }

  .mainCenterBlock {
    margin: 0 auto;
    padding: 0 20px;
  }

  .mainMenu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 11px 0;
    padding: 43px 5px 77px;
  }

  .menuLogoLink {
    width: 54;
    height: 50px;
  }

  .menuLogoImg {
    width: 54px;
    height: auto;
  }
  
  .menuForm {
    margin-left: 60px;
    max-width: 1044px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menuBtn {
    width: 241px;
    height: 50px;
    background-color: #009EE4;
    border: 1px solid #009EE4;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1;
    color: #FFFFFF;
  }

  .menuBtn:hover {
    background-color: #0080C1;
  }

  .mainH2 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 30px;
  }

  .mainProfileSell {
    width: 100%;
    padding: 0 0 70px;
  }

  .profileSellContent {
    width: 100%;
  }
  
  .profileSellSeller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  
  .sellerLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 50px;
  }

  .sellerImg {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #F0F0F0;
  }
  .sellerImg img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #F0F0F0;
  }
  .sellerRight {
    width: auto;
  }

  .sellerTitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    color: #000000;
    margin-bottom: 0px;
  }
  
  .sellerInf, .sellerCity {
    font-size: 16px;
    line-height: 21px;
    color: #5F5F5F;
    margin-bottom: 10px;
  }
  
  .sellerImgMobBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
  }

  .sellerImgMob {
    display: block;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: #F0F0F0;
  }

  .sellerImgMob img {
    width: 100%;
    height: auto;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .sellerBtn {
    margin-top: 20px;
    background-color: #009EE4;
    border-radius: 6px;
    border: 1px solid #009EE4;
    width: 214px;
    height: 62px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
  }

  .sellerBtn:hover {
    background-color: #0080C1;
  }

  .mainTitle {
    margin-bottom: 30px;
        font-size: 18px;
        line-height: 1;
  }

  .mainContent {
    width: 100%;
    margin: 0 auto;
  }
  
  .cardsItem {
    margin: 0;
  }