* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.mainSearch {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 11px 0;
  max-width: 1178px;
  margin: 0 auto;
  padding: 31px 10px 0px;
}
.searchLogoLink {
  display: none;
}
.searchLogoMobLink {
  display: none;
}

.searchLogoImg {
  width: 54px;
  height: auto;
  margin-bottom: 40px;
}
.searchForm {
  margin-left: 60px;
  max-width: 1044px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.searchTextMob {
  display: none;
}

.searchText {
  width: 100%;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: transparent;
  padding: 13px 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.searchText::-webkit-input-placeholder {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.searchText:-ms-input-placeholder {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.searchText::-ms-input-placeholder {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.searchText::placeholder {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.searchBtn {
  margin-left: 10px;
  width: 158px;
  height: 50px;
  background-color: #009ee4;
  border: 1px solid #009ee4;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.btnHov01:hover {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #ffffff;
}

.searchBtn:hover {
  background-color: #0080c1;
}
.mainH2:hover::before {
  border-top: 2px solid #0080c1;
  border-left: 2px solid #0080c1;
}
.mainH2 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 30px;
}
.mainH2:hover::before {
  border-top: 2px solid #0080c1;
  border-left: 2px solid #0080c1;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



.cards::-webkit-scrollbar {
  width: 0px;
  background-color: #009ee4;
}

.cards::-webkit-scrollbar-thumb {
  background-color: #0080c1;
  border-radius: 3px;
}

@media screen and (max-width: 1158px) {
  .cards {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 270px);
  }
}

@media screen and (max-width: 890px) {
  .cards {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 270px);
  }
}

@media screen and (max-width: 590px) {
  .container {
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    background-color: #ffffff;
  }
  .header {
    display: none;
  }
  .mainContainer {
    padding: 85px 10px 84px;
  }
  .mainSearch {
    width: 100%;
    height: 55px;
    background-color: #009ee4;
    -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
    margin-bottom: 0px;
    padding: 11px 17px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
  }
  .main__h2 {
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
  }
  .mainH2::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 9px;
    left: 13px;
    cursor: pointer;
  }
  .mainContent {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    right: 0;
    left: 0;
    top: 134px;
    bottom: 84px;
  }
  .searchLogoMobLink {
    display: block;
    width: 32px;
    height: 32px;
  }
  .searchLogoLink {
    display: none;
  }
  .searchLogoImg {
    width: 32px;
    height: auto;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .searchForm {
    margin-left: 10px;
    max-width: 1044px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .searchText {
    display: none;
  }
  .searchTextMob {
    display: inline-block;
    width: 100%;
    height: 32px;
    border: none;
    border-radius: 30px;
    background-color: #ffffff;
    padding: 5px 17px;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
  .searchTextMob::-webkit-input-placeholder {
    background-color: transparent;
    color: #b3b3b3;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  .searchTextMob:-ms-input-placeholder {
    background-color: transparent;
    color: #b3b3b3;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  .searchTextMob::-ms-input-placeholder {
    background-color: transparent;
    color: #b3b3b3;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  .searchTextMob::placeholder {
    background-color: transparent;
    color: #b3b3b3;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  .searchBtn {
    display: none;
  }
  .cards {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 137px);
    grid-auto-rows: 293px;
    grid-gap: 10px 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

}