* {
  margin: 0;
  padding: 0;
          box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}
.mainSearch {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 11px 0;
    max-width: 1178px;
    margin: 0 auto;
    padding: 31px 10px 0px;
  }
  .searchLogoLink {
    display: none;
  }
  .searchLogoMobLink {
    display: none;
  }

  .searchLogoImg {
    width: 54px;
    height: auto;
  }
  .searchForm {
    margin-left: 60px;
    max-width: 1044px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .searchTextMob {
    display: none;
  }
  
  .searchText {
    width: 100%;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: transparent;
    padding: 13px 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  .searchText::-webkit-input-placeholder {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  
  .searchText:-ms-input-placeholder {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  
  .searchText::-ms-input-placeholder {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  
  .searchText::placeholder {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .searchBtn {
    margin-left: 10px;
    width: 158px;
    height: 50px;
    background-color: #009EE4;
    border: 1px solid #009EE4;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }
  
  .btnHov01:hover {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
  }
  
  .searchBtn:hover {
    background-color: #0080C1;
  }
  
  .mainContainer {
    max-width: 1178px;
    margin: 0 auto;
    padding: 52px 10px 37px;
  }
  .mainH2:hover::before {
    border-top: 2px solid #0080C1;
    border-left: 2px solid #0080C1;
  }
  .mainH2 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 30px;
  }
.mainH2:hover::before {
  border-top: 2px solid #0080C1;
  border-left: 2px solid #0080C1;
}

  .mainContent {
    width: 100%;
    margin: 0 auto;
  }


  .cards {
      max-width: 1158px;
      width: 100%;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns:  repeat(4, 270px);
      grid-template-columns: repeat(4, 270px);
      grid-auto-rows: 441px;
      grid-gap: 40px 26px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      overflow-y: auto;
      scrollbar-color: #ffffff #2e2e2e;
      scrollbar-width: thin;
      scrollbar-width: 0px;
      height: 922px;
    }
  
  .cards::-webkit-scrollbar {
    width: 0px;
    background-color: #009EE4;
  }
  
  .cards::-webkit-scrollbar-thumb {
    background-color: #0080C1;
    border-radius: 3px;
  }  

