.headerNav {
    max-width: 1178px;
    margin: 0 auto;
    padding: 0 10px;
    height: 79px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .headerBtnPutAd,.headerBtnLk{
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1;
  }

.headerBtnPutAd{
  width: 232px;
  height: 40px;
}

.headerBtnLk{
  width: 173px;
  height: 40px;
  margin-left: 10px;
}

.headerBtnPutAd:hover {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #FFFFFF;
}
.headerBtnLk:hover {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #FFFFFF;
}

  .headerBtnMain {
    width: 224px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1;
  }
  .headerBtnMain:hover {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
  }
.headerBtnMainEnter{
  width: 224px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    line-height: 1;
}
.LogoMob{
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .headerNav {
    height: 55px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0;
  }
  .headerBtnLk, .headerBtnPutAd {
    display: none;
  }
  .LogoMobImg{
   width: 32px;
   height: 32px;
  }
  .LogoMob{
    visibility: visible;
   }
}
